<!DOCTYPE html>
<html class="no-js" lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-cart.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:10:07 GMT -->
<head>
    <meta charset="utf-8">
    <title>Shan Apparels</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/public/user-assets/imgs/theme/icons/logo.png">
    <!-- Template CSS -->
    <link rel="stylesheet" href="/public/user-assets/css/maind134.css?v=3.4">
    <!-- Toastify -->
    <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/toastify-js/1.6.1/toastify.min.css">
</head>

<body>
    <header class="header-area header-style-1 header-height-2">
        
        <div class="header-middle header-middle-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="header-wrap">
                    <div class="logo logo-width-1">
                        <a href="index.html"><img src="/public/user-assets/imgs/theme/icons/logo.png" alt="logo"></a>
                    </div>
                    <div class="header-right">
                        <div class="search-style-2">
                            <form action="#">
                                <input type="text" placeholder="Search for items...">
                            </form>
                        </div>
                        <div class="header-action-right">
                            <div class="header-action-2">
                              <div class="header-action-icon-2">
                                <a class="wishlist-icon" href="/wishlist">
                                    <img alt="Wishlist" src="public/user-assets/imgs/theme/icons/icon-heart.svg">
                                    <% if (wishlistTotalCount) { %>
                                        <span class="pro-count blue">
                                            <%= wishlistTotalCount %>
                                        </span>
                                    <% } %>
                                </a>
                            </div>
                            

                            <div class="header-action-icon-2">
                                <a class="mini-cart-icon" href="/cart">
                                    <img alt="Evara" src="public/user-assets/imgs/theme/icons/icon-cart.svg">
                                    <% if(cartTotalCount) { %>
                                        <span class="pro-count blue">
                                            <%= cartTotalCount %>
                                        </span>
                                    <% } %>
                                </a>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom header-bottom-bg-color sticky-bar">
            <div class="container">
                <div class="header-wrap header-space-between position-relative">
                    <div class="logo logo-width-1 d-block d-lg-none">
                        <a href="/userHome"><img src="/public/user-assets/imgs/theme/logo.svg" alt="logo"></a>
                    </div>
                    <div class="header-nav d-none d-lg-flex">
                        <div class="main-categori-wrap d-none d-lg-block">
                            <a class="categori-button-active" href="#">
                                <span class="fi-rs-apps"></span> Browse Categories
                            </a>
                           
                        </div>
                        <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block">
                            <nav>
                                <ul>
                                    <li><a class="active" href="/userHome">Home </a>
                                        
                                    </li>
                                    <li>
                                        <a href="#">About</a>
                                    </li>
                                    <li><a href="/userShop">Shop </a>
                                        
                                    </li>
                                    
                                    
                                    <li><a href="#">Pages </a>
                                    </li>
                                    <li>
                                        <a href="#">Contact</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="header-action-right d-block d-lg-none">
                        <div class="header-action-2">
                            <div class="header-action-icon-2">
                                <a href="shop-wishlist.html">
                                    <img alt="Evara" src="/public/user-assets/imgs/theme/icons/icon-heart.svg">
                                    
                                </a>
                            </div>
                            <div class="header-action-icon-2">
                                <a class="mini-cart-icon" href="/cart">
                                    <img alt="Evara" src="/public/user-assets/imgs/theme/icons/icon-cart.svg">
                                   
                                </a>
                                <div class="cart-dropdown-wrap cart-dropdown-hm2">
                                    <ul>
                                        <li>
                                            <div class="shopping-cart-img">
                                                <a href="shop-product-right.html"><img alt="Evara" src="/public/user-assets/imgs/shop/thumbnail-3.jpg"></a>
                                            </div>
                                            <div class="shopping-cart-title">
                                            </div>
                                            <div class="shopping-cart-delete">
                                                <a href="#"><i class="fi-rs-cross-small"></i></a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="shopping-cart-img">
                                                <a href="shop-product-right.html"><img alt="Evara" src="/public/user-assets/imgs/shop/thumbnail-4.jpg"></a>
                                            </div>
                                            <div class="shopping-cart-title">
                                            </div>
                                            <div class="shopping-cart-delete">
                                                <a href="#"><i class="fi-rs-cross-small"></i></a>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="shopping-cart-footer">
                                        <div class="shopping-cart-total">
                                        </div>
                                        <div class="shopping-cart-button">
                                            <a href="shop-cart.html">View cart</a>
                                            <a href="shop-checkout.html">Checkout</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="header-action-icon-2 d-block d-lg-none">
                                <div class="burger-icon burger-icon-white">
                                    <span class="burger-icon-top"></span>
                                    <span class="burger-icon-mid"></span>
                                    <span class="burger-icon-bottom"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="mobile-header-active mobile-header-wrapper-style">
        <div class="mobile-header-wrapper-inner">
            <div class="mobile-header-top">
                <div class="mobile-header-logo">
                    <a href="index.html"><img src="/public/user-assets/imgs/theme/logo.svg" alt="logo"></a>
                </div>
                <div class="mobile-menu-close close-style-wrap close-style-position-inherit">
                    <button class="close-style search-close">
                        <i class="icon-top"></i>
                        <i class="icon-bottom"></i>
                    </button>
                </div>
            </div>
            <div class="mobile-header-content-area">
                <div class="mobile-search search-style-3 mobile-header-border">
                    <form action="#">
                        <input type="text" placeholder="Search for items…">
                        <button type="submit"><i class="fi-rs-search"></i></button>
                    </form>
                </div>
                <div class="mobile-menu-wrap mobile-header-border">
                    <div class="main-categori-wrap mobile-header-border">
                        <a class="categori-button-active-2" href="#">
                            <span class="fi-rs-apps"></span> Browse Categories
                        </a>
                    </div>
                    <nav>
                        <ul class="mobile-menu">
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="index.html">Home</a>
                            </li>
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="shop-grid-right.html">shop</a>
                            </li>
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="blog-category-fullwidth.html">Blog</a>
                            </li>
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Pages</a>
                            </li>
                        </ul>
                    </nav>
                    <!-- mobile menu end -->
                </div>
            </div>
        </div>
    </div>
    <main class="main">

        <div class="page-header breadcrumb-wrap">
            <div class="container">
              <div class="breadcrumb">
                <a href="/userHome" rel="nofollow">Home</a>
                <span></span> Shop
                <span></span> Your Cart
              </div>
            </div>
          </div>
          <section class="mt-50 mb-50">
            <div class="container">
              <div class="row">
                <div class="col-12">
                  <div class="table-responsive container">
                    <table class="table shopping-summery text-center clean" id="cartTable">
                      <thead>
                        <tr class="main-heading">
                          <th scope="col" class="text-center">Image</th>
                          <th scope="col" class="text-center">Name</th>
                          <th scope="col" class="text-center">Size</th>
                          <th scope="col" class="text-center">Price</th>
                          <th scope="col" class="text-center">Quantity</th>
                          <th scope="col" class="text-center">Subtotal</th>
                          <th scope="col" class="text-center">Remove</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% for( let i=0; i < cartItems.length; i++ ) { %>
                          <tr>
                            <td class="image product-thumbnail"><img src="/public/uploads/<%= cartItems[i].product.image[0] %>" alt="#">
                            </td>
                            <td class="product-des product-name">
                              <h5 class="product-name"><a href="shop-product-right.html" style="color: #088178;">
                                  <%= cartItems[i].product.productName %>
                                </a></h5>
                              <p class="font-xs">
                                <%= cartItems[i].product.productDescription %>
                              </p>
                            </td>
                            <td class="size" data-title="Size" id="size-span">
                              <span id="size<%=i%>">
                                <%= cartItems[i].size %>
                              </span>
                            </td>
                            <td class="price" data-title="Price" id="price-span"><span id="price<%=i%>">
                                <%= cartItems[i].product.productPrice %>
                              </span></td>
                            <td class="text-center" data-title="Stock">
                              <div class="detail-qty border radius  m-auto">
                                <a href="#" class="qty-down"
                                  onclick="incOrDecQuantity('<%=cartItems[i].product._id%>','-1','<%=i%>', 'decrement')"><i
                                    class="fi-rs-angle-small-down"></i></a>
                                <span class="qty-val" id="quantity<%=i%>" >
                                  <%= cartItems[i].quantity %>
                                </span>
                                <a href="#" class="qty-up" onclick="incOrDecQuantity('<%=cartItems[i].product._id%>','1','<%=i%>', 'increment')"><i
                                    class="fi-rs-angle-small-up"></i></a>
                              </div>
                            </td>
                            <td class="text-right" id="text-right<%= cartItems[i].product._id %>" data-title="Cart">
                              <span id="individualTotal<%=i%>">
                                <%=totalAmountOfEachProduct[i]%>
                              </span>
                            </td>
                            <td class="action" data-title="Remove"><a
                                onclick="removeItemFromCart('<%=cartItems[i].product._id%>','<%=i+1%>', '<%= cartItems[i].size %>')" class="text-muted"><i
                                  class="fi-rs-trash"></i></a></td>
                          </tr>
                          <% } %>
      
      
      
                      </tbody>
                    </table>
                  </div>
                  <div class="cart-action text-end" style="margin-top: 40px;">
                    <!-- <a class="btn  mr-10 mb-sm-15" style="background-color: black;"><i class="fi-rs-shuffle mr-10"></i>Update
                      Cart</a> -->
                    <a class="btn " style="background-color: #088178;" href="/userShop"><i
                        class="fi-rs-shopping-bag mr-10"></i>Continue
                      Shopping</a>
                  </div>
                  <div class="divider center_icon mt-50 mb-50"><i class="fi-rs-fingerprint"></i></div>
                  <div class="row mb-50">
                    <div class="col-lg-6 col-md-12">
                      <div class="border p-md-4 p-30 border-radius cart-totals">
                        <div class="heading_s1 mb-3">
                          <h4>Cart Totals</h4>
                        </div>
                        <div class="table-responsive">
                          <table class="table">
                            <tbody>
                              <tr>
                                <td class="cart_total_label">Cart Subtotal</td>
                                <td class="cart_total_amount"><span class="font-lg fw-900 text-dark"
                                    style="color: #088178;" id = "totalSubTotal"><%= totalAmount %></span></td>
                              </tr>
                              <tr>
                                <td class="cart_total_label">Shipping</td>
                                <td class="cart_total_amount"> <i class="ti-gift mr-5"></i> Free
                                  Shipping</td>
                              </tr>
                              <tr>
                                <td class="cart_total_label">Total</td>
                                <td class="cart_total_amount"><strong><span class="font-xl fw-900 text-dark"
                                      style="color: #088178;" id = "totalAmountFinal"><%= totalAmount %></span></strong>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                        <a href="/checkout" class="btn" style="background-color: #088178;"> <i class="fi-rs-box-alt mr-10"></i> Proceed
                          To
                          CheckOut</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>


    </main>
    <footer class="main">
        <section class="newsletter p-30 text-white wow fadeIn animated">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7 mb-md-3 mb-lg-0">
                        <div class="row align-items-center">
                            <div class="col flex-horizontal-center">
                                <img class="icon-email" src="/public/user-assets/imgs/theme/icons/icon-email.svg" alt="">
                                <h4 class="font-size-20 mb-0 ml-3">Sign up to Newsletter</h4>
                            </div>
                            <div class="col my-4 my-md-0 des">
                                <h5 class="font-size-15 ml-4 mb-0">...and receive <strong>$25 coupon for first shopping.</strong></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <!-- Subscribe Form -->
                        <form class="form-subcriber d-flex wow fadeIn animated">
                            <input type="email" class="form-control bg-white font-small" placeholder="Enter your email">
                            <button class="btn bg-dark text-white" type="submit">Subscribe</button>
                        </form>
                        <!-- End Subscribe Form -->
                    </div>
                </div>
            </div>
        </section>
        <section class="section-padding footer-mid">
            <div class="container pt-15 pb-20">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="widget-about font-md mb-md-5 mb-lg-0">
                            <div class="logo logo-width-1 wow fadeIn animated">
                                <a href="index.html"><img src="/public/user-assets/imgs/theme/icons/logo.png" alt="logo"></a>
                            </div>
                            <h5 class="mt-20 mb-10 fw-600 text-grey-4 wow fadeIn animated">Contact</h5>
                            <p class="wow fadeIn animated">
                                <strong>Address: </strong>562 Wellington Road, Street 32, San Francisco
                            </p>
                            <p class="wow fadeIn animated">
                                <strong>Phone: </strong>+01 2222 365 /(+91) 01 2345 6789
                            </p>
                            <p class="wow fadeIn animated">
                                <strong>Hours: </strong>10:00 - 18:00, Mon - Sat
                            </p>
                            <h5 class="mb-10 mt-30 fw-600 text-grey-4 wow fadeIn animated">Follow Us</h5>
                            <div class="mobile-social-icon wow fadeIn animated mb-sm-5 mb-md-0">
                                <a href="#"><img src="/public/user-assets/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                                <a href="#"><img src="/public/user-assets/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                                <a href="#"><img src="/public/user-assets/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                                <a href="#"><img src="/public/user-assets/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                                <a href="#"><img src="/public/user-assets/imgs/theme/icons/icon-youtube.svg" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3">
                        <h5 class="widget-title wow fadeIn animated">About</h5>
                        <ul class="footer-list wow fadeIn animated mb-sm-5 mb-md-0">
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Delivery Information</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms &amp; Conditions</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Support Center</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2  col-md-3">
                        <h5 class="widget-title wow fadeIn animated">My Account</h5>
                        <ul class="footer-list wow fadeIn animated">
                            <li><a href="#">Sign In</a></li>
                            <li><a href="#">View Cart</a></li>
                            <li><a href="#">My Wishlist</a></li>
                            <li><a href="#">Track My Order</a></li>
                            <li><a href="#">Help</a></li>
                            <li><a href="#">Order</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4">
                        <h5 class="widget-title wow fadeIn animated">Install App</h5>
                        <div class="row">
                            <div class="col-md-8 col-lg-12">
                                <p class="wow fadeIn animated">From App Store or Google Play</p>
                                <div class="download-app wow fadeIn animated">
                                    <a href="#" class="hover-up mb-sm-4 mb-lg-0"><img class="active" src="/public/user-assets/imgs/theme/app-store.jpg" alt=""></a>
                                    <a href="#" class="hover-up"><img src="/public/user-assets/imgs/theme/google-play.jpg" alt=""></a>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-12 mt-md-3 mt-lg-0">
                                <p class="mb-20 wow fadeIn animated">Secured Payment Gateways</p>
                                <img class="wow fadeIn animated" src="/public/user-assets/imgs/theme/payment-method.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="container pb-20 wow fadeIn animated">
            <div class="row">
                <div class="col-12 mb-20">
                    <div class="footer-bottom"></div>
                </div>
                <div class="col-lg-6">
                    <p class="float-md-left font-sm text-muted mb-0">&copy; 2022, <strong class="text-brand">Evara</strong> - HTML Ecommerce Template </p>
                </div>
                <div class="col-lg-6">
                    <p class="text-lg-end text-start font-sm text-muted mb-0">
                        Designed by <a href="http://alithemes.com/" target="_blank">Alithemes.com</a>. All rights reserved
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center">
                    <h5 class="mb-5">Now Loading</h5>
                    <div class="loader">
                        <div class="bar bar1"></div>
                        <div class="bar bar2"></div>
                        <div class="bar bar3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Vendor JS-->
    <script src="/public/user-assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="/public/user-assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="/public/user-assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="/public/user-assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="/public/user-assets/js/plugins/slick.js"></script>
    <script src="/public/user-assets/js/plugins/jquery.syotimer.min.js"></script>
    <script src="/public/user-assets/js/plugins/wow.js"></script>
    <script src="/public/user-assets/js/plugins/jquery-ui.js"></script>
    <script src="/public/user-assets/js/plugins/perfect-scrollbar.js"></script>
    <script src="/public/user-assets/js/plugins/magnific-popup.js"></script>
    <script src="/public/user-assets/js/plugins/select2.min.js"></script>
    <script src="/public/user-assets/js/plugins/waypoints.js"></script>
    <script src="/public/user-assets/js/plugins/counterup.js"></script>
    <script src="/public/user-assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="/public/user-assets/js/plugins/images-loaded.js"></script>
    <script src="/public/user-assets/js/plugins/isotope.js"></script>
    <script src="/public/user-assets/js/plugins/scrollup.js"></script>
    <script src="/public/user-assets/js/plugins/jquery.vticker-min.js"></script>
    <!-- Template  JS -->
    <script src="/public/user-assets/js/maind134.js?v=3.4"></script>
    <script src="/public/user-assets/js/shopd134.js?v=3.4"></script>
    <!-- Toastify -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastify-js/1.6.1/toastify.min.js"></script>

      <script>
        const incOrDecQuantity = (productId, quantity, index, operation) => {
          const price = parseInt(document.getElementById("price" + index).innerHTML);
          const subTotal = parseInt(document.getElementById("individualTotal" + index).innerHTML);
          const qty = parseInt(document.getElementById("quantity" + index).innerHTML);
          const size = document.getElementById("size" + index).innerText;
          let newQuantity = operation == "increment" ? 1 : -1;
          console.log("This is the price", price);
          console.log("This is subtotal", subTotal);
          console.log("This is newqty", newQuantity);
          console.log("This is size", size);
          console.log("THis is the operation", operation)

      
          // if (newQuantity < 1) {
          //   // Don't allow quantity to go below 1
          //   return;
          // }
      
          $.ajax({
            url: `/updateCartQuantity?productId=${productId}&quantity=${newQuantity}&operation=${operation}&size=${size}&qty=${qty}`,
            method: "PATCH",
            success: (response) => {
              console.log("This is response", response)
              if (response.status) {
                Toastify({
                  text: `Quantity Updated`,
                  duration: 3000,
                  gravity: "top",
                  position: "center",
                  stopOnFocus: true,
                  style: {
                    background: "green",
                  },
                }).showToast();

                // alert(response.total)
      
                document.getElementById("quantity" + index).innerHTML = parseInt(qty) + parseInt(response.quantity);
                
                document.getElementById("individualTotal" + index).innerHTML = subTotal + (price * (operation === "increment" ? 1 : -1));
                document.getElementById("totalAmountFinal").innerHTML = response.total;
                document.getElementById("totalSubTotal").innerHTML = response.total;

              } else {
                Toastify({
                  text: `Stock Limit Exceeded`,
                  duration: 3000,
                  gravity: "top",
                  position: "center",
                  stopOnFocus: true,
                  style: {
                    background: "red",
                  },
                }).showToast();
                // Rollback quantity change
                document.getElementById("quantity" + index).innerHTML = qty;
              }
            }
          });
        };
      </script>

<!-- <script>
    const removeItemFromCart = (productId, index) => {
      $.ajax({
        url: "/removeCart/" + productId,
        method: "DELETE",
        success: (response) => {
          if (response.status) {
            Toastify({
              text: `Product removed from cart`,
              duration: 3000,
              gravity: "top",
              position: "center",
              stopOnFocus: true, 
              style: {
                background: "red",
              },
            }).showToast();


            let table = document.getElementById("cartTable");
            table.deleteRow(index);
            // window.location.reload();
          } else {
            location.reload();
          }

        },
      })
    }
  </script> -->

  <script>
    const   removeItemFromCart = (productId, index, size) => {
      console.log("This is the size", size);
      $.ajax({
        url: "/removeCart/" + productId + "/" + size,
        method: "DELETE",
        success: (response) => {
          if (response.status) {
            Toastify({
              text: `Product removed from cart`,
              duration: 3000,
              gravity: "top",
              position: "center",
              stopOnFocus: true, 
              style: {
                background: "red",
              },
            }).showToast();

            // Adjust index based on the number of rows in the table
            const table = document.getElementById("cartTable");
            const numRows = table.rows.length;
            const adjustedIndex = index >= numRows ? numRows - 1 : index;

            // Delete the corresponding row from the table
            table.deleteRow(adjustedIndex);
          } else {
            location.reload();
          }
        },
      });
    };
</script>

      
    
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-cart.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:10:07 GMT -->
</html>