<!DOCTYPE html>
<html class="no-js" lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-wishlist.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:10:05 GMT -->
<head>
    <meta charset="utf-8">
    <title>Shan Apparels</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/public/image/Screenshot 2024-02-24 095808.jpg">
    <!-- Template CSS -->
    <link rel="stylesheet" href="/public/user-assets/css/maind134.css?v=3.4">

    <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/toastify-js/1.6.1/toastify.min.css">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-***" crossorigin="anonymous" />
    
</head>

<body>
    <header class="header-area header-style-1 header-height-2">
        
        <div class="header-middle header-middle-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="header-wrap">
                    <div class="logo logo-width-1">
                        <a href="/userHome"><img src="/public/user-assets/imgs/theme/icons/logo.png" alt="logo"></a>
                    </div>
                    <div class="header-right">
                        <div class="search-style-2">
                            <form action="#">
                                <input type="text" placeholder="Search for items...">
                            </form>
                        </div>
                        <div class="header-action-right">
                            <div class="header-action-2">
                                <div class="header-action-icon-2">
                                    <a href="shop-wishlist.html">
                                        <img class="svgInject" alt="Evara" src="/public/user-assets/imgs/theme/icons/icon-heart.svg">
                                    </a>
                                </div>
                                <div class="header-action-icon-2">
                                    <a class="mini-cart-icon" href="/cart">
                                        <img alt="Evara" src="/public/user-assets/imgs/theme/icons/icon-cart.svg">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom header-bottom-bg-color sticky-bar">
            <div class="container">
                <div class="header-wrap header-space-between position-relative">
                    <div class="logo logo-width-1 d-block d-lg-none">
                        <a href="/userHome"><img src="/public/user-assets/imgs/theme/logo.svg" alt="logo"></a>
                    </div>
                    <div class="header-nav d-none d-lg-flex">
                        <div class="main-categori-wrap d-none d-lg-block">
                            <a class="categori-button-active" href="#">
                                <span class="fi-rs-apps"></span> Browse Categories
                            </a>
                           
                        </div>
                        <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block">
                            <nav>
                                <ul>
                                    <li><a class="active" href="/userHome">Home </a>
                                        
                                    </li>
                                    <li>
                                        <a href="#">About</a>
                                    </li>
                                    <li><a href="/userShop">Shop </a>
                                        
                                    </li>
                                    
                                    
                                    <li><a href="#">Pages </a>
                                    </li>
                                    <li>
                                        <a href="#">Contact</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="header-action-right d-block d-lg-none">
                        <div class="header-action-2">
                            <div class="header-action-icon-2">
                                <a href="#">
                                    <img alt="Evara" src="/public/user-assets/imgs/theme/icons/icon-heart.svg">
                                </a>
                            </div>
                            <div class="header-action-icon-2">
                                <a class="mini-cart-icon" href="/cart">
                                    <img alt="Evara" src="/public/user-assets/imgs/theme/icons/icon-cart.svg">
                                </a>
                                <div class="cart-dropdown-wrap cart-dropdown-hm2">
                                    <ul>
                                        <li>
                                            <div class="shopping-cart-img">
                                                <a href="shop-product-right.html"><img alt="Evara" src="/public/user-assets/imgs/shop/thumbnail-3.jpg"></a>
                                            </div>
                                            <div class="shopping-cart-title">
                                            </div>
                                            <div class="shopping-cart-delete">
                                                <a href="#"><i class="fi-rs-cross-small"></i></a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="shopping-cart-img">
                                                <a href="shop-product-right.html"><img alt="Evara" src="/public/user-assets/imgs/shop/thumbnail-4.jpg"></a>
                                            </div>
                                            <div class="shopping-cart-title">
                                            </div>
                                            <div class="shopping-cart-delete">
                                                <a href="#"><i class="fi-rs-cross-small"></i></a>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="shopping-cart-footer">
                                        <div class="shopping-cart-total">
                                        </div>
                                        <div class="shopping-cart-button">
                                            <a href="/cart">View cart</a>
                                            <a href="shop-checkout.html">Checkout</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="header-action-icon-2 d-block d-lg-none">
                                <div class="burger-icon burger-icon-white">
                                    <span class="burger-icon-top"></span>
                                    <span class="burger-icon-mid"></span>
                                    <span class="burger-icon-bottom"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  
        <style>
        /* Style the modal */
        .modal {
            display: none;
            /* Hidden by default */
            position: fixed;
            /* Stay in place */
            z-index: 1;
            /* Sit on top */
            left: 0;
            top: 0;
            width: 100%;
            /* Full width */
            height: 100%;
            /* Full height */
            overflow: auto;
            /* Enable scroll if needed */
            background-color: rgba(0, 0, 0, 0.4);
            /* Black w/ opacity */
            padding-top: 60px;
            /* Location of the modal header */
        }
    
        /* Modal content */
        .modal-content {
            background-color: #fefefe;
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 50%;
            border-radius: 10px;
        }
    
        /* Modal close button */
        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
    
        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
    
        /* Style size selection */
        .size-selection {
            margin-bottom: 20px;
        }
    
        .size-buttons {
            display: flex;
            justify-content: center;
            gap: 10px;
        }
    
        .size-btn {
            background-color: #333;
            color: wheat;
            border: none;
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
            border-radius: 5px;
            transition: background-color 0.3s ease;
        }
    
        .size-btn:hover {
            background-color: #42a30eea;
            color: #333;
        }
    
        /* Style add to cart button */
        /* .add-to-cart-btn {
            background-color: #4caf50;
            color: white;
            border: none;
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
            border-radius: 5px;
            transition: background-color 0.3s ease;
        } */
    
        .add-to-cart-btn:hover {
            background-color: #45a049;
        }
    </style>

    </header>

    
    
    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="/home-page" rel="nofollow">Home</a>
                    <span></span> Shop
                    <span></span> Wishlist
                </div>
            </div>
        </div>
        <section class="mt-50 mb-50">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <% if (wishListItems.length<=0) { %>
                                <div class="mb-150">
                                    <h1 class="text-dark">No items in wishlist</h1>
                                </div>
                                

                                <% } else { %>
                                    <table class="table shopping-summery text-center mb-100">
                                        <thead>
                                            <tr class="main-heading">
                                                <th scope="col" colspan="2">Product</th>
                                                <th scope="col">Price</th>
                                                <th scope="col">Stock Status</th>
                                                <th scope="col">Action</th>
                                                <th scope="col">Remove</th>
                                            </tr>
                                        </thead>
                                        <tbody> 
                                            <% wishListItems.forEach(element=> { %>
                                                <tr>
                                                    <td class="image product-thumbnail"><img
                                                            src="/public/uploads/<%= element.product.image[0] %>" alt="#"></td>
                                                    <td class="product-des product-name">
                                                        <h5 class="product-name"><a href="shop-product-right.html">
                                                                <%= element.product.name %>
                                                            </a></h5>

                                                    </td>
                                                    <td class="price" data-title="Price"><span>₹<%=
                                                                element.product.offerPrice %></span></td>
                                                    <% if (element.product.totalQuantity>0) { %>
                                                        <td class="text-center" data-title="Stock">
                                                            <span class="text-success font-weight-bold">In Stock</span>
                                                        </td>
                                                        <% } else { %>
                                                            <td class="text-center" data-title="Stock">
                                                                <span class="text-danger font-weight-bold">Out of
                                                                    Stock</span>
                                                            </td>
                                                            <% } %>

                                                                <% if (element.cartStatus) { %>
                                                                    <td class="text-center" data-title="Cart">
                                                                        <a class="btn btn-sm" href="/cart">View in
                                                                            cart</a>
                                                                    </td>
                                                                    <% } else { %>
                                                                        <td class="text-center" data-title="Cart">
                                                                            <button class="btn btn-sm" type="submit" class="btn-btn-fill-out-submit" value="submit"
                                                                            onclick="addToCart('<%=element.product._id %>')">Add to cart</button>
                                                                        </td>
                                                                        <% } %>

                                                                            <td class="action" data-title="Remove"><a
                                                                                    onclick="removeFromWishlist('<%=element.product._id%>')"><i
                                                                                        class="fi-rs-trash"></i></a>
                                                                            </td>
                                                </tr>
                                                <% }) %>
                                                


                                        </tbody>
                                    </table>
                                    <% } %>

                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal HTML -->

            
<!-- <div id="sizeModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Select Size</h2>
        <ul>
            <li><button onclick="findSize('S')">S</button></li>
            <li><button onclick="findSize('M')">M</button></li>
            <li><button onclick="findSize('L')">L</button></li>
        </ul>
    </div>
</div> -->

<div id="sizeModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2 class="text-center p-2"><span style="color: #45a049;">Select size</span></h2>
        <div class="size-selection">
            
            <div class="size-buttons">
                <!-- <button class="size-btn " data-size="s">S</button>
                <button class="size-btn" data-size="m">M</button>
                <button class="size-btn" data-size="l">L</button> -->
                <button class="size-btn " onclick="findSize('S')">S</button>
                <button class="size-btn " onclick="findSize('M')">M</button>
                <button class="size-btn " onclick="findSize('L')">L</button>
            </div>
        </div>
    </div>
</div>

        </section>
    </main>
    <footer class="main">
        <section class="newsletter p-30 text-white wow fadeIn animated">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7 mb-md-3 mb-lg-0">
                        <div class="row align-items-center">
                            <div class="col flex-horizontal-center">
                                <img class="icon-email" src="/public/user-assets/imgs/theme/icons/icon-email.svg" alt="">
                                <h4 class="font-size-20 mb-0 ml-3">Sign up to Newsletter</h4>
                            </div>
                            <div class="col my-4 my-md-0 des">
                                <h5 class="font-size-15 ml-4 mb-0">...and receive <strong>$25 coupon for first shopping.</strong></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <!-- Subscribe Form -->
                        <form class="form-subcriber d-flex wow fadeIn animated">
                            <input type="email" class="form-control bg-white font-small" placeholder="Enter your email">
                            <button class="btn bg-dark text-white" type="submit">Subscribe</button>
                        </form>
                        <!-- End Subscribe Form -->
                    </div>
                </div>
            </div>
        </section>
        <section class="section-padding footer-mid">
            <div class="container pt-15 pb-20">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="widget-about font-md mb-md-5 mb-lg-0">
                            <div class="logo logo-width-1 wow fadeIn animated">
                                <a href="index.html"><img src="/public/image/fashion club logo.jpg" alt="logo"></a>
                            </div>
                            <h5 class="mt-20 mb-10 fw-600 text-grey-4 wow fadeIn animated">Contact</h5>
                            <p class="wow fadeIn animated">
                                <strong>Address: </strong>562 Wellington Road, Street 32, San Francisco
                            </p>
                            <p class="wow fadeIn animated">
                                <strong>Phone: </strong>+01 2222 365 /(+91) 01 2345 6789
                            </p>
                            <p class="wow fadeIn animated">
                                <strong>Hours: </strong>10:00 - 18:00, Mon - Sat
                            </p>
                            <h5 class="mb-10 mt-30 fw-600 text-grey-4 wow fadeIn animated">Follow Us</h5>
                            <div class="mobile-social-icon wow fadeIn animated mb-sm-5 mb-md-0">
                                <a href="#"><img src="/public/user-assets/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                                <a href="#"><img src="/public/user-assets/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                                <a href="#"><img src="/public/user-assets/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                                <a href="#"><img src="/public/user-assets/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                                <a href="#"><img src="/public/user-assets/imgs/theme/icons/icon-youtube.svg" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3">
                        <h5 class="widget-title wow fadeIn animated">About</h5>
                        <ul class="footer-list wow fadeIn animated mb-sm-5 mb-md-0">
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Delivery Information</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms &amp; Conditions</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Support Center</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2  col-md-3">
                        <h5 class="widget-title wow fadeIn animated">My Account</h5>
                        <ul class="footer-list wow fadeIn animated">
                            <li><a href="#">Sign In</a></li>
                            <li><a href="#">View Cart</a></li>
                            <li><a href="#">My Wishlist</a></li>
                            <li><a href="#">Track My Order</a></li>
                            <li><a href="#">Help</a></li>
                            <li><a href="#">Order</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4">
                        <h5 class="widget-title wow fadeIn animated">Install App</h5>
                        <div class="row">
                            <div class="col-md-8 col-lg-12">
                                <p class="wow fadeIn animated">From App Store or Google Play</p>
                                <div class="download-app wow fadeIn animated">
                                    <a href="#" class="hover-up mb-sm-4 mb-lg-0"><img class="active" src="/public/user-assets/imgs/theme/app-store.jpg" alt=""></a>
                                    <a href="#" class="hover-up"><img src="/public/user-assets/imgs/theme/google-play.jpg" alt=""></a>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-12 mt-md-3 mt-lg-0">
                                <p class="mb-20 wow fadeIn animated">Secured Payment Gateways</p>
                                <img class="wow fadeIn animated" src="/public/user-assets/imgs/theme/payment-method.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="container pb-20 wow fadeIn animated">
            <div class="row">
                <div class="col-12 mb-20">
                    <div class="footer-bottom"></div>
                </div>
                <div class="col-lg-6">
                    <p class="float-md-left font-sm text-muted mb-0">&copy; 2022, <strong class="text-brand">Evara</strong> - HTML Ecommerce Template </p>
                </div>
                <div class="col-lg-6">
                    <p class="text-lg-end text-start font-sm text-muted mb-0">
                        Designed by <a href="http://alithemes.com/" target="_blank">Alithemes.com</a>. All rights reserved
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center">
                    <h5 class="mb-5">Now Loading</h5>
                    <div class="loader">
                        <div class="bar bar1"></div>
                        <div class="bar bar2"></div>
                        <div class="bar bar3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>
        const removeFromWishlist = (productId) => {
          $.ajax({
            url: `/removeFromWishList`,
            method: "PUT",
            data: {
              productId: productId
    
            },
            success: function (response) {
              if (response.status) {
                Toastify({
                  text: `Removed from wishlist`,
                  duration: 3000,
                  gravity: "top",
                  position: "center",
                  stopOnFocus: true,
                  style: {
                    background: "red",
                  },
                }).showToast();
                setTimeout(() => {
                  location.reload()
                }, 1000);
    
              }
              else {
                Toastify({
                  text: `Something went wrong, Please try again later`,
                  duration: 3000,
                  gravity: "top",
                  position: "center",
                  stopOnFocus: true,
                  style: {
                    background: "red",
                  },
                }).showToast();
              }
            },
            error: function (XHR, textStatus, errorThrown) {
              console.log(errorThrown);
            }
          });
        }
      </script>

<script>
    // function openSizeModal(productId) {
    //   $('#sizeModal'+productId).modal('show');
    // }


    // JavaScript function to open the modal

    let id;
function openSizeModal() {
    var modal = document.getElementById("sizeModal");
    modal.style.display = "block";
}

    
    function closeSizeModal(productId) {
      $('#sizeModal' + productId).modal('hide');
    }
    
    
    function addToCart(productId){

        console.log("productid",productId)
        console.log("clicked add to cart")
        id = productId
        openSizeModal(productId)
     
     
    
    
    }

    function findSize(size){
        console.log("size : ",size);
        let quantity = 1;
        if (quantity > 0) {
        
        $.ajax({
          url: `/addToCart/${id}/${size}`,
          method: "POST",
          success: function (response) {
            if (response.status) {
              Toastify({
                text: `Added to Cart`,
                duration: 3000,
                gravity: "top", 
                position: "center",
                stopOnFocus: true,
                style: {
                  background: "green",
                },
              }).showToast();
              setTimeout(() => {
                location.reload();
              }, 1000);
            }
            else {
              Toastify({
                text: `Something went wrong, Please try again later`,
                duration: 3000,
                gravity: "top", 
                position: "center", 
                stopOnFocus: true, 
                style: {
                  background: "red",
                },
              }).showToast();
              setTimeout(() => {
                location.reload();
              }, 1000);
            }

          },
          error: function (XHR, textStatus, errorThrown) {
            console.log(errorThrown);
          }
        });
      } else {
        Toastify({
          text: `Out of stock`,
          duration: 3000,
          gravity: "top", 
          position: "center", 
          stopOnFocus: true, 
          style: {
            background: "red",
          },
        }).showToast();
      }
    }
    </script>
     <!-- <script>
        document.getElementById('smallQuantity').style.display = "none"
        document.getElementById('largeQuantity').style.display = 'none';
        document.getElementById('mediumQuantity').style.display = "inline";
        document.getElementById("S").addEventListener('click', () => {
            console.log("hau");
          document.getElementById('smallQuantity').style.display = "inline";
          document.getElementById('largeQuantity').style.display = 'none';
          document.getElementById('mediumQuantity').style.display = "none";
          document.getElementById("S").classList.add('active');
          document.getElementById("M").classList.remove('active');
          document.getElementById("L").classList.remove('active');
    
        });
        document.getElementById("M").addEventListener('click', () => {
          document.getElementById('mediumQuantity').style.display = "inline";
          document.getElementById('largeQuantity').style.display = 'none';
          document.getElementById('smallQuantity').style.display = "none";
          document.getElementById("M").classList.add('active');
          document.getElementById("L").classList.remove('active');
          document.getElementById("S").classList.remove('active');
        });
        document.getElementById("L").addEventListener('click', () => {
          document.getElementById('largeQuantity').style.display = "inline";
          document.getElementById('mediumQuantity').style.display = 'none';
          document.getElementById('smallQuantity').style.display = "none";
          document.getElementById("L").classList.add('active');
          document.getElementById("M").classList.remove('active');
          document.getElementById("S").classList.remove('active');
        });
      </script> -->

<script>
    const addToCart = (productId) => {
        
      let size = "";
      let quantity = 0;
      if (document.getElementById("S").classList.contains("active")) {
        size = "S";
        quantity = parseInt(document.getElementById("smallQuantity").innerHTML)
      } else if (document.getElementById("M").classList.contains("active")) {
        size = "M"
        quantity = parseInt(document.getElementById("mediumQuantity").innerHTML);
      } else if (document.getElementById("L").classList.contains("active")) {
        size = "L"
        quantity = parseInt(document.getElementById("largeQuantity").innerHTML)
      } else {
        size = "M";
        quantity = parseInt(document.getElementById("mediumQuantity").innerHTML);
      }
      console.log(productId);
     

    };
  </script>
    <!-- Vendor JS-->
    <script src="/public/user-assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="/public/user-assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="/public/user-assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="/public/user-assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="/public/user-assets/js/plugins/slick.js"></script>
    <script src="/public/user-assets/js/plugins/jquery.syotimer.min.js"></script>
    <script src="/public/user-assets/js/plugins/wow.js"></script>
    <script src="/public/user-assets/js/plugins/jquery-ui.js"></script>
    <script src="/public/user-assets/js/plugins/perfect-scrollbar.js"></script>
    <script src="/public/user-assets/js/plugins/magnific-popup.js"></script>
    <script src="/public/user-assets/js/plugins/select2.min.js"></script>
    <script src="/public/user-assets/js/plugins/waypoints.js"></script>
    <script src="/public/user-assets/js/plugins/counterup.js"></script>
    <script src="/public/user-assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="/public/user-assets/js/plugins/images-loaded.js"></script>
    <script src="/public/user-assets/js/plugins/isotope.js"></script>
    <script src="/public/user-assets/js/plugins/scrollup.js"></script>
    <script src="/public/user-assets/js/plugins/jquery.vticker-min.js"></script>
    <!-- Template  JS -->
    <script src="/public/user-assets/js/maind134.js?v=3.4"></script>
    <script src="/public/user-assets/js/shopd134.js?v=3.4"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastify-js/1.6.1/toastify.min.js"></script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-wishlist.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:10:05 GMT -->
</html>